.widget-ajax-filters-trainee {
    border: 1px solid #000;
    margin: 5% 2% 5% 2%;
    border: 1px solid #bdf3a6;
    background: #fff;
}
.widget-ajax-filters-trainee input {
    border: 1px solid #f1f1f1;
}

.widget-ajax-filters-trainee-title,
.widget-ajax-filters-trainee-ajaxform,
#widget-ajax-filters-trainee-content {
    padding: 5%;
}

.widget-ajax-filters-trainee-title {
    background: #bdf3a6;
}

.widget-ajax-filters-trainee-ajaxform {
    border-bottom: 1px solid #bdf3a6;
}

.widget-ajax-filters-trainee-ajaxform input[type="text"],
.widget-ajax-filters-trainee-ajaxform input[type="number"]{
    margin: 5px 0 5px 0;
    padding: 0 0 0 5px;
    width: 100%;
}

#widget-ajax-filters-trainee-content {

}
.not_found {
    text-align: center;
}